<div class="text-center">
  <h1>Edit a new course</h1>

  <% if @course.errors.any? %>
    <% @course.errors.full_messages.each do |err|%>
      <p class="text-danger"><%= err%></p>
    <% end %>
  <% end %>

  <%= form_for(@course, url: course_path(@course.id), method: "patch") do |f|%>

  <p>
    <%= f.label(:name)%>
    <%= f.text_field(:name, autofocus: true)%>
  </p>

    <%= f.submit("Add", class: "btn btn-primary ")%>
  <% end %>
  <br>
  <%= link_to "See courses", courses_path %>
  </div>