<% include ../partials/header %>

  <h1>All my books!</h1>
  <a href="/books/new">Add a new Book</a>
  <% allBooks.forEach(function(book){ %>
  <p><%= book.title %> by <%= book.author %></p>
  <p>
    <a href="/books/<%= book.id %>">See more</a>
  </p>
  <form action="/books/<%= book.id %>?_method=delete" method="post">
    <input type="submit" value="Delete">
  </form>
  <a href="/books/<%= book.id %>/edit">Edit</a>
  <% }); %>

<% include ../partials/footer %>